body {
  background-color: #DDBEA8;
}
h1 {
  margin: auto;
  width: 50%;
}

.favorites {
  position: absolute;
  top: 10px;
  right: 10px;
}

#favorites-list {
  text-align: left;
}

.monster-card {
  background-color: #43B1AC;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid #246A73;
  border-radius: 16px;
  margin: 3px;
}

.monster-card h2 {
  border-bottom: solid 2px;
}

span.full{
  color: #160F29;
}

.hidden {
  display: none;
}

/* color scheme: 160F29, 246A73, 43B1AC, F3DFC1, DDBEA8 */