@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

body {
  background-image: url("assets/parchment.jpg");
  background-repeat: repeat;
}

.favorites {
  position: fixed;
  top: 10px;
  right: 10px;
  /* width: 10%; */
  /* margin-left: 5px; */
  background-image: url("assets/parchment.jpg");
  background-color: #d2bea1;
  background-blend-mode: soft-light;
  border: solid 2px #160F29;
  border-radius: 16px;
  padding: 5px;
  width: 155px;
}

#favorites-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
}

#title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mate SC', serif; 
}

.logo {
  margin: 8px;
  padding-bottom: 5px;
}

#search-bar {
  display: flex;
  margin: 20px;
  margin-top:0px;
  margin-right: 170px;
  justify-content: center;
  /* font-family: 'Mate SC', serif;  */
}

.search {
  margin: 5px;
}

#encounter-wrapper {
  background-color: #DDBEA8;
  background-image: url("assets/parchment.jpg");
  background-blend-mode: soft-light;
}

#encounter-builder {
  margin-left: 20%;
  margin-right: 170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-area: 
    "players monsters"
    "difficulty difficulty";
}

.counter {
  display: inline-flex;
  align-content: center;
  margin-left: 5px;
}

.counter span {
  display: block;
  width: 20px;
  margin-left: 8px;
  margin-top: 5px;
}

.plus-minus-button {
  /* display: flex; */
  height: 20px;
  width: 20px;
  /* margin-left: 8px; */
  /* text-align: center;
  justify-content: center; */
}

/* .remove-button-wrapper{
  display: flex;
  justify-content: flex-end;
} */


#player-count-selector {
  display: flex;
}

#player-count-selector h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#player-levels {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

#player-levels input {
  width: 55px;
}


#monster-section h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#current-monsters {
  padding: 0;
  margin-left: 15px;
}

.encounter-monster {
  display: flex;
}

.encounter-monster label{
  padding-top: 10px;
}

.encounter-monster input {
  margin: 8px;
  height: 16px;
  width: 55px;
}

.remove-monster{
  height: 20px;
  width: 20px;
  color: #cf0000;
  margin-left: 20px;
  margin-top: 9px;
}

#difficulty-info {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#monster-list {
  margin-right: 170px;
}

.monster-card {
  background-image: url("assets/parchment.jpg");
  background-color: #43B1AC;
  background-blend-mode: soft-light;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid #246A73;
  border-radius: 16px;
  margin: 9px;
  min-width: 200px;
  /* font-family: 'Mate SC', serif;  */
}

.monster-card h2 {
  border-bottom: solid 2px;
}

.favorite-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.favorite-button {
  background-image: url("assets/parchment.jpg");
  background-color: #40aba5;
  background-blend-mode: soft-light;
  border-radius: 8px;
}

.favorite-button:hover {
  background-color: #F3DFC1;
}

.favorite-button.favorited {
  background-color: #F3DFC1;
}

span.full{
  color: #160F29;
}

.hidden {
  display: none;
}

/* color scheme: 160F29, 246A73, 43B1AC, F3DFC1, DDBEA8 */